<h1>Estimate List</h1>

<table border=1>
  <thead>
    <tr>
      <th>Total price</th>
      <th>Project Name</th>
			<th>construction</th>
      <th colspan="3">ope</th>
    </tr>
  </thead>

  <tbody>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= estimate.total_price %></td>
        <td><%= estimate.project.property_name %></td>
				<td>
					<% estimate.constructions.each do |const| %>
						<li><%= const.name %>
					<% end %>
				</td>
        <td><%= link_to 'Show', estimate %></td>
        <td><%= link_to 'Edit', edit_estimate_path(estimate) %></td>
        <td><%= link_to 'Destroy', estimate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estimate', new_estimate_path, remote: true, class: "btn btn-lg btn-primary" %>

<div id="estimate-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
